<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--значение по умолчанию (если отсутствует такая переменная)-->
    <title>{{ main_title|default:"Без заголовка" }}</title>
</head>
<body>
<p>
    {{ menu|join:" | " }}
</p>
<h1>
    {{ title }}
</h1>
<ul>
<!--    на стороне сервера -->
    {% for p in posts %}
    {% if p.is_published %}
<!--    на стороне клиента-->
    <li>
        <h2>{{ p.title }}</h2>
        <p>{{ p.content }}</p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>